
<h1>Ingresa como estudiante</h1>

<a href="/session/github">Iniciar sesión con GitHub</a>


<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit"  value="Login">

</form>