<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Mobility Argentina</title>
</head>
<body>
    <div class="menu_container">

            <a href="#" class="logo_pemoar"><img src="assets/logo.png" alt="" style="height: 200px;"></a>

            <nav class="navbar">

                <ul>
                    {{#if user}}
                    <li><a href="#home">Cursos</a></li>
                    {{/if}}
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Precios</a></li>
                    <li><a href="#">Carrito</a></li>
                </ul>

            </nav>
            <div>
                {{user.first_name}}
            </div>

        </div>
    <h1>Cursos Disponibles</h1>
    {{{body}}} 
</body>
</html>